@import '../../../color-scheme.scss';

.welcome {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__title {
    color: $primary-100;
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba($surface-600, 0.5);
    margin-bottom: 30px;
    width: 80%;
    align-self: center;
  }

  &__callout {
    color: white;
    flex-basis: 20%;
  }

  &__main-content {
    flex-grow: 1;
    color: white;
    text-align: justify;
    font-size: 1.2em;
  }

  &__footer {
    color: rgba(white, 0.2);
  }
}
