<div class="welcome">
  <div class="welcome__title">US Breaker</div>
  <div class="welcome__callout">
    <p>
      <span>
        <strong>US-Breaker</strong>, ajudando seu time a deixar as reuniões de
        <strong>breakdown</strong> cada vez mais produtivas, e permitindo focar
        no que interessa: quebrar USs em task.
      </span>
    </p>
    <br />
    <p class="welcome__callout__contribute-info">
      <span>Contribuições são bem-vindas</span>
      <span>github-frontend</span>
      <span>github-backend</span>
    </p>
  </div>
  <div class="stats">
    <div class="stats__card">
      <div class="stats__card__title">USs quebradas</div>
      <div class="stats__card__value">2030</div>
    </div>
    <div class="stats__card">
      <div class="stats__card__title">Tasks Criadas</div>
      <div class="stats__card__value">1000</div>
    </div>
    <div class="stats__card">
      <div class="stats__card__title">Tempo economizado</div>
      <div class="stats__card__value">2h</div>
    </div>
  </div>
  <div class="welcome__footer"><span>Criado com <3</span></div>
</div>
