<div class="container">
  <div class="topbar">
    <span class="topbar__title">Azure task manager</span>
    <nav>
      <ul class="nav">
        <li class="nav__item">
          <button>US Breaker</button>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <div class="content__body">
      <!-- <form> -->
      <div class="work-item__form">
        <input
          class="work-item__selector"
          type="number"
          name="us-number"
          value="{{ workItemNumber }}"
          placeholder="US/BUG to be broken"
          (keyup)="updateWorkItemNumber($event)"
          (change)="updateWorkItemNumber($event)"
        />
        <button (click)="searchWorkItem()">Load</button>
      </div>
      <!-- </form> -->
    </div>
  </div>
</div>
