<div class="container">
  <div class="topbar">
    <span class="topbar__title">Azure task manager</span>
    <nav>
      <ul class="nav">
        <li class="nav__item">
          <button>US Breaker</button>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <div class="content__body">
      <app-us-dashboard></app-us-dashboard>
      <div class="content__divider"></div>
      <div class="welcome">
        <div class="welcome">
          <div class="welcome__title">US Breaker</div>
          <div class="welcome__callout">
            <span
              >Seja bem-vindo a essa incrível ferramenta de produtividade que
              vai ajudar a diminuir as longas sessão de
              <strong>breakdown</strong> do seu time :)</span
            >
          </div>
          <div class="welcome__main-content">
            <span><strong>Modo de usar:</strong></span>
            <ol>
              <li>Carregar US/BUG</li>
              <li>Conferir título/descrição</li>
              <li>Clicar em quebrar task</li>
              <ol>
                <li>Adicionar título da task</li>
                <li>Adicionar tempo estimado</li>
                <li>Adicionar descrição (opcional)</li>
                <li>Salvar</li>
              </ol>
              <li>Voltar ao 1.</li>
            </ol>
          </div>
          <div class="welcome__footer"><span>Criado com <3</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
