/* Primary colors */
$primary-100: #ff9000;
$primary-200: #ff9c32;
$primary-300: #ffa94f;
$primary-400: #ffb568;
$primary-500: #ffc182;
$primary-600: #ffce9a;

/* Surface colors */
$surface-100: #1f1f1f;
$surface-200: #343434;
$surface-300: #4a4a4a;
$surface-400: #616161;
$surface-500: #797979;
$surface-600: #939393;
