@import '../../../../color-scheme.scss';

.us-dashboard {
  display: flex;
  justify-content: center;

  &__divider {
    border-radius: 20px;
    border-right: 5px solid rgba($surface-600, 0.5);
    height: 80%;
    align-self: center;
    margin: 0 30px;
  }

  &__body {
    margin: 15px 0;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    background-color: $surface-300;
    width: 80%;
    min-height: 80vmin;
  }
}
