@import '../../../../color-scheme.scss';

.us-dashboard {
  display: flex;
  justify-content: center;

  &__divider {
    border-radius: 20px;
    border-right: 5px solid rgba($surface-600, 0.5);
    height: 80%;
    align-self: center;
    margin: 0 30px;
  }

  &__body {
    margin: 15px 0;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    background-color: $surface-300;
    width: 80%;
    min-height: 80vmin;

    .welcome {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;

      &__title {
        color: $primary-100;
        font-size: 2.5em;
        font-weight: 600;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba($surface-600, 0.5);
        margin-bottom: 30px;
        width: 80%;
        align-self: center;
      }

      &__callout {
        color: white;
        flex-basis: 20%;
      }

      &__main-content {
        flex-grow: 1;
        color: white;
        text-align: justify;
        font-size: 1.2em;
      }

      &__footer {
        color: rgba(white, 0.2);
      }
    }
  }
}
